*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --primary:#0d171f;
  --second:#0998a8;
  --bgColor:#192938;
}
h1,
h2,
h4,
p{
  color: #ffff;
}
a{
  text-decoration: none;
  color: #fff;
}
ul{
  list-style: none;
}

button{
  outline: none;
  border: none;
  padding: 10px 40px;
}
body{
  position: relative;
  background-color: var(--bgColor);
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}


/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--second);
  border-radius: 10px;
}



